<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">

        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
              crossorigin="anonymous">

        <title>Cancun Hotel Rooms & Suites</title>

        <style>
            body {
                padding-top: 50px;
            }
            .special {
                padding-top:50px;
            }
        </style>
    </head>
    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href=".">Cancun Hotel Rooms & Suites</a>
                </div>
            </div>
        </nav>


        <div class="container special">

            <h2 class="h2">Add new room</h2>
            <div>
                <form method="post"th:action="@{/room/save}" th:object="${room}">
                    
                    <div class="form-group">
                        <label for="type">Type</label> 
                        <input type="text" th:field="*{type}" class="form-control" id="type" aria-describedby="typeHelp" placeholder="Type"> 
                        <small id="typeHelp" class="form-text text-muted">Enter room type.</small>
                    </div>
                    <div class="form-group">
                        <label for="type">Description</label> 
                        <input type="text" th:field="*{description}" class="form-control" id="type" aria-describedby="descriptionHelp" placeholder="Description"> 
                        <small id="descriptionHelp" class="form-text text-muted">Merci d'écrire le prénom de l'employée.</small>
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label> 
                        <input type="text" th:field="*{quantity}" class="form-control" id="quantity" lastNameInput="" aria-describedby="quantityHelp" placeholder="Quantity"> 
                        <small id="lastNameHelp" class="form-text text-muted">Merci d'écrire le nom de l'employée.</small>
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label> 
                        <input type="text" th:field="*{price}" class="form-control" id="price" aria-describedby="priceHelp" placeholder="Price"> 
                        <small id="priceHelp" class="form-text text-muted">Enter the Price</small>
                    </div>

                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>

        </div>

        <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    </body>
</html>